* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 90%;
    margin: 0 auto;
    background: #000000;
    font-family: "Inter", sans-serif;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.sectional-gap {
    margin-top: 15%;
}

.bottom-gap {
    margin-bottom: 8%
}

.top-gap {
    margin-top: 8%;
}

.center-text h1 {
    color: #FFFFFF;
    font-size: 4em;
    text-align: center;
}

.center-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 1em;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* cdnfonts */

                
/* header design start here */
.header-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3%;
}

.menu-side ul {
    display: flex;
    column-gap: 20px;
}

.logo-side h1 {
    color: rgb(230, 83, 60);
    font-size: 36px;
    font-weight: 800;
    line-height: 120%;
}

.menu-side {
    border: 1px solid #FFFFFF;
    border-radius: 30px;
    padding: 25px 10px;
}

.menu-side li a:hover {
    background-color: #E6533C;
    border-radius: 30px;
}

.menu-side a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
}
.bar{
    display: none;
}

/* banner start here */
.banner-text span{
    font-family: 'Miama', sans-serif;
    font-style: italic;
}
.banner-section {
    margin-top: 95px;
}

.banner-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner-text {
    width: 60%;
}

.banner-text h1 {
    color: rgb(255, 255, 255);
    font-size: 5em;
    line-height: 150%;
    font-weight: 900;
}

.banner-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0px;
}

.banner-button {
    display: flex;
    column-gap: 18px;
}

.banner-button button {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: 0px;
    padding: 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}
.banner-button button:hover{
    border: 1px solid #FFFFFF;
    background-color: black;
    color: white;
}

.primary-btn button{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: 0px;
    padding: 15px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.primary-btn button:hover{
    border: 1px solid #FFFFFF;
    background-color: black;
    color: white;
}

/* positioning here */
.banner-image {
    position: relative;
}

.five {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 3%;
    border-radius: 5%;
    position: absolute;
    top: 30%;
    right: 0;
}

.five-content {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1em;
    font-weight: 900;
    /* padding: 1%; */
}

.five-content h5 {
    font-size: 0.6em;
}

/* the 350 */

.three {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    padding: 3%;
    border-radius: 5%;
    position: absolute;
    bottom: 20%;
    left: 0;
}

.three-content {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1em;
    font-weight: 900;
    /* padding: 1%; */
}

.three-content h5 {
    font-size: 0.6em;
}


/* change habit section */
.habit-image-controller {
    display: flex;
    justify-content: space-between;
    gap: 5%;
}

.habit-image-content {
    text-align: center;
}

.single-habit-text h3 {
    color: white;
    margin: 30px 0px 15px 0px;
}

.single-habit-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}

.single-habit-image {
    width: 100%;
}

.single-habit-image img {
    width: 100%;
    border-radius: 50%;
}

/* run extra starts here */
.run-extra-main {
    border-radius: 18px;
    background: rgb(34, 34, 34);
}

.run-extra-controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    column-gap: 10%;
}

.run-extra-text h2 {
    font-size: 2.5em;
    color: white;
}

.run-extra-image {
    width: 100%;
}

.run-extra-image img {
    width: 100%;
    border-radius: 8%;
}

.run-extra-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 30px;
}

.primary-btn button {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    border: 0px;
    padding: 15px;
    color: white;
    font-size: 18px;
}

/* BMI section starts here */
.bmi-chart h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.5em;
    font-weight: 900;
    margin-bottom: 15%;
}

table {
    border-collapse: collapse;
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

th{
    color: white;
    text-align: left;
}

td, th{
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

/* calculate bmi starts here  */
.bmi-controller{
    display: flex;
    justify-content: space-between;
    gap: 5%;
    padding: 5%;
}

.bmi-calculator h3 {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 1.3em;
    font-weight: 900;

}

.bmi-calculator p {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1em;
    font-weight: 400;
    margin: 3% 0%;
}

.input-area input {
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0px;
    padding: 2%;
    border-radius: 7px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
}
.input-area select{
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    border-radius: 7px;
}
.input-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
    row-gap: 20%;
}
.single-input select{
    width: 100%;
    padding: 2%;
    margin-top: 5%;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
}

/* BMI section ends here */

/* meet our team starts here */
.image-container {
    background-color: rgb(34, 34, 34);
}

.image-controller {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 3%;
    width: 100%;
    padding: 3%;
}

.image-1{
    background-image: url(../images/trainer1.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 15px;
}
.image-2{
    background-image: url(../images/trainer2.png);
    background-position: center;
    background-size: cover;
    width: 100%;
border-radius: 15px;
}
.image-3{
    background-image: url(../images/trainer3.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 15px;
}
.image-4{
    background-image: url(../images/trainer4.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 15px;
}
.image-5{
    background-image: url(../images/trainer5.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 15px;
}
.image-6{
    background-image: url(../images/trainer6.png);
    background-position: center;
    background-size: cover;
    width: 100%;
    border-radius: 15px;
}

.image-text{
    display: flex;
    flex-direction: column;
    margin-top: 80%;
    padding: 5%;
}
.image-text h3{
    color: white;
    font-size: 1.5em;
}
.image-text p{
    color: rgb(219, 213, 213);
    font-size: 1em;
}
/* meet our team ends here */

/* footer starts here */
.footer-controller {
    display: flex;
    justify-content: space-between;
}

.logo-side {
    width: 50%;
}

.logo-side p {
    color: rgb(167, 163, 163);
    margin-top: 5%;
}

.footer-center h3 {
    color: white;
    font-size: 1.3em;
}

.footer-center li a {
    color: rgb(224, 214, 214);
    font-size: 1.2em;
}

h5 {
    color: rgb(224, 214, 214);
    margin: 5% 0%;
    text-align: center;
}






/* footer starts here */